.cursor/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
bots/.env
bots/.cursorrules

delete-daily.py
/bots/verify_key.py
/bots/.env
/bots/.cursorrules
/bots/PIPECAT_INTEGRATION.MD
.gitignore
/VapiBlocks/
/bots/Dockerfile
/react/node_modules
/VapiBlocks
